.venue {
  display: flex;
  flex-direction: column;
}

.venue .photo {
  height: 90vh;
  width: 100vw;
  opacity: 0.7;
  z-index: 3;
  background-position: center bottom;
}

.venue .photo .infos {
  width: fit-content;
  display: flex;
  height: 90%;
  justify-content: flex-end;
  margin: 0 0 10% 10%;
  color: white;
  flex-direction: column;
}
.venue .photo .infos h1 {
  font-size: 8vmin;
  font-weight: 400;
  margin-bottom: 0;
  width: fit-content;
  padding: 0 10px;
  max-width: 90%;
  background: rgba(0, 0, 0, 0.5);
}

.venue .photo .infos .subtitle {
  font-size: 4vmin;
  font-weight: 200;
  width: fit-content;
  max-width: 90%;
  line-height: 2;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.venue .photo .infos .share-buttons .share {
  padding: 10px;
}

.venue .content .infos h1,
.venue .content .infos div {
  display: none;
}

.venue .content {
  width: 100vw;
  height: auto;
  flex: initial;
  overflow: hidden;
}

.venue .content .loading {
  font-size: 5vmin;
  font-weight: 200;
}

.venue .content h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
  font-weight: 400;
}

.venue .content p {
  display: flex;
  justify-content: center;
  font-size: 4vmin;
  font-weight: 200;
}

.venue .content .instagram-posts,
.venue .content .nearby-places {
  padding: 0 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.venue .content .venue-description {
  padding: 0 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.venue .content .venue-description p {
  display: block;
}

.venue .content .instagram-empty {
  margin: 10% 0;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.venue .content .instagram-posts .gallery {
  padding-top: 0;
}

.venue .content .instagram-posts .gallery .thumbnail {
  width: 320px;
  height: 320px;
}

.venue .content .instagram-posts .gallery .thumbnail img {
  width: -webkit-fill-available;
}

@media only screen and (max-width: 800px) {
  .venue .photo {
    display: none;
  }

  .venue .content {
    padding-top: 50px;
    width: auto;
  }

  .venue .content .infos {
    padding: 5%;
  }

  .venue .content .infos h1 {
    font-size: 8vmin;
    font-weight: 200;
  }

  .venue .content .infos div {
    font-size: 4vmin;
    font-weight: 400;
  }

  .venue .content .infos h1,
  .venue .content .infos div {
    display: inherit;
    color: black;
  }

  .venue .content .infos div .share {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .venue .content .instagram-posts,
  .venue .content .instagram-empty,
  .venue .content .nearby-places {
    padding: 5%;
    margin-top: 2%;
    width: auto;
  }

  .venue .content .instagram-posts .gallery .thumbnail {
    width: 90vw;
    height: 90vw;
  }
}
