.place {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.place .photo {
  height: 100vh;
  width: 30vw;
  opacity: 0.7;
  z-index: 5;
  background-position: center bottom;
}

.place .content {
  width: 70vw;
  height: auto;
  padding: 2% 0% 0 2%;
  flex: initial;
  overflow: scroll;
}

.place .content h1 {
  font-size: 7vmin;
  font-weight: 200;
  padding: 0 10px;
}

.place .content p {
  font-size: 4vmin;
  font-weight: 200;
  padding: 0 10px;
}

.place .content .spotify-block {
  display: flex;
  flex-direction: row;
}

.place .content .spotify-block .spotify-player {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
  .place .photo {
    display: none;
  }

  .place .content {
    padding: 5%;
    padding-top: 50px;
    width: 100vw;
  }

  .place .content .spotify-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .place .content .spotify-block .spotify-player {
    margin-top: 3%;
  }
}

@media only screen and (max-width: 499px) {
  .place .content .spotify-block p {
    display: none;
  }

  .place .content .spotify-block .spotify-player {
    margin-top: 0%;
  }
}
