.navbar {
  position: absolute;
  z-index: 3;
  height: 50px;
  width: 100vw;
  display: inline-flex;
  text-align: right;
  flex-direction: column;
}

.navbar a {
  text-decoration: none;
  display: inline-flex;
  padding: 10px 20px 2px 10px;
  font-size: 3vmin;
  font-weight: 200;
}

.white {
  background: rgba(255,255,255,0);
}

.white a {
  color: white;
}

.white a:hover {
  border-bottom: 1px solid white;
}

.black {
  background: rgba(255,255,255,1);
}

.black a {
  color: black;
}

.black a:hover {
  border-bottom: 1px solid black;
}
